{{- if ne .chezmoi.os "darwin" -}}
# [source.crates-io]
# replace-with = 'rsproxy-sparse'
# [source.rsproxy]
# registry = "https://rsproxy.cn/crates.io-index"
# [source.rsproxy-sparse]
# registry = "sparse+https://rsproxy.cn/index/"
# [registries.rsproxy]
# index = "https://rsproxy.cn/crates.io-index"
{{- end }}

[net]
retry = 10
git-fetch-with-cli = true

[http]
timeout = 600
multiplexing = false
{{- if ne .chezmoi.os "darwin" }}

# socks5h 会让 DNS 也走代理，通常更稳
proxy = "socks5h://127.0.0.1:10808"

low-speed-limit = 1
{{- end }}
