{{- if eq .chezmoi.os "windows" }}
.custom_scripts/cc-claude
.custom_scripts/cc-update
.custom_scripts/cc-synctime
{{- else }}
.custom_scripts/cc-claude.ps1
.custom_scripts/cc-update.ps1
.custom_scripts/cc-synctime.ps1
{{- end }}
