{{- if eq .chezmoi.os "windows" }}
.custom_scripts/cc-claude
.custom_scripts/cc-synctime
.custom_scripts/cc-update
{{- else }}
.custom_scripts/cc-claude.ps1
.custom_scripts/cc-winupdate.ps1
{{- end }}
