{
  "env": {
    "HTTP_PROXY": "http://127.0.0.1:10808",
    "HTTPS_PROXY": "http://127.0.0.1:10808",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1"
  },
  "permissions": {
    "allow": [],
    "deny": []
  },
  "statusLine": {
    "type": "command",
{{- if eq .chezmoi.os "windows" }}
    "command": "powershell -NoProfile -File {{ .chezmoi.homeDir | replace "\\" "/" }}/.claude/statusline-command.ps1"
{{- else }}
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
{{- end }}
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true,
    "clangd-lsp@claude-plugins-official": true,
    "code-review@claude-plugins-official": true,
    "ralph-loop@claude-plugins-official": true,
    "huggingface-skills@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "everything-claude-code@everything-claude-code": true
  },
  "alwaysThinkingEnabled": true,
  "skipDangerousModePermissionPrompt": true,
  "teammateMode": "auto",
  "effortLevel": "high"
}
